* {
    font-family: 'SFProTextRegular';
    color: white;
}

.flex {
    display: flex;
}

.space-between {
    justify-content: space-evenly;
}

.truecenter {
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    display: flex;
    margin-top: 22%;
}

.content {
    margin: 2vh;
    margin-left: 16vw;
    margin-right: 16vw;
}

body {
    background-color: #121212;
}

.logo {
    width: 15%;
    padding: .5vw;
    margin-right: auto;
}

.title {
    margin-bottom: 2vw;
}

.sidebar {
    margin-right: 2vw;
    width: 35vw;
    height: 35vh;
}

.element {
    margin-bottom: 4vw;
}

.remove-mp {
    margin: 0;
    padding: 0;
}

.game-link {
    width: 50%;
}

.navigation-links {
    margin-left: auto;
    align-items: center;
}

.header {
    display: flex;
    justify-content: space-evenly;
    background: rgb(117, 34, 195);
    background: linear-gradient(0deg, rgba(117, 34, 195, 1) 0%, rgba(215, 0, 251, 1) 100%);
    width: 100%;
    padding: 1%;
    margin: 0;
    text-shadow: 1px 1px 2px black;
}

.footer {
    background: rgb(117, 34, 195);
    background: linear-gradient(180deg, rgba(117, 34, 195, 1) 0%, rgba(215, 0, 251, 1) 100%);
    padding: 1vw;
    color: black;
    margin-bottom: auto;
    flex-grow: 1;
    text-shadow: 1px 1px 2px black;
    bottom: 1;
}

a:hover {
    text-decoration: none;
    text-decoration-color: white;
}

.footer-text {
    padding: 0;
    margin: 0;
}

button {
    margin-right: unset;
    overflow: hidden;
    filter: drop-shadow(0 1px 2px rgba(0, 0, 0, .5));
    margin-right: .5vw;
    font-family: 'SFProTextRegular';
}

.black {
    color: black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'SFProTextBold';
}

.regular {
    font-family: 'SFProTextRegular';
}

@font-face {
    font-family: 'SFProTextLight';
    src: url('/fonts/SF-Pro-Text-Light.woff') format('woff'), url('/fonts/SF-Pro-Text-Light.woff2') format('woff2'), url('/fonts/SF-Pro-Text-Light.eot'), url('/fonts/SF-Pro-Text-Light.eot?#iefix') format('embedded-opentype'), url('/fonts/SF-Pro-Text-Light.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SFProTextRegular';
    src: url('/fonts/SF-Pro-Text-Regular.woff') format('woff'), url('/fonts/SF-Pro-Text-Regular.woff2') format('woff2'), url('/fonts/SF-Pro-Text-Regular.eot'), url('/fonts/SF-Pro-Text-Regular.eot?#iefix') format('embedded-opentype'), url('/fonts/SF-Pro-Text-Regular.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SFProTextBold';
    src: url('/fonts/SF-Pro-Text-Bold.woff') format('woff'), url('/fonts/SF-Pro-Text-Bold.woff2') format('woff2'), url('/fonts/SF-Pro-Text-Bold.eot'), url('/fonts/SF-Pro-Text-Bold.eot?#iefix') format('embedded-opentype'), url('/fonts/SF-Pro-Text-Bold.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}